<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <mailSettings>
    <smtp deliveryMethod="Network" from="SomeWebsite Admin &lt;rutkowski.adr@gmail.com&gt;">
      <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="rutkowski.adr@gmail.com" password="xxxxx" />
    </smtp>
  </mailSettings>
</configuration>