<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <add key="serviceBusHostAddress" value="rabbitmq://localhost" />
      <add key="serviceBusHostUsername" value="guest" />
      <add key="serviceBusHostPassword" value="guest" />
      <add key="serviceBusQueueName" value="default_queue" />
      <add key="mailerAPIKey" value="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" />
      <add key="mailerMail" value="ztp-ath@awesomemail.com" />
      <add key="mailerName" value="ZTP Mailer" />
      <add key="mailerBodyText" value="This is a message that is sent to users" />
      <add key="mailerSubjectText" value="Awesome Title" />
      <add key="loggerConfLocation" value="nlog.config" />

	</appSettings>
  <system.net>

    <mailSettings>
      <smtp deliveryMethod="Network" from="Adrian Rutkowski &lt;rutkowski.adr@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="rutkowski.adr@gmail.com" password="edwi-12abcc" />
      </smtp>
    </mailSettings>

  </system.net>

</configuration>